jenkins:
  systemMessage: "Managed by JCasC and Ansible"
  numExecutors: 0
  mode: EXCLUSIVE
  slaveAgentPort: 50000
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: "admin"
         password: "${JENKINS_ADMIN_PASSWORD}"
  
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true
  
  nodes:
  - permanent:
      labelString: "docker-worker" 
      mode: NORMAL
      name: "jenkins-node-1"
      numExecutors: 2
      remoteFS: "/home/ubuntu/jenkins_ws"
      launcher:
        jnlp:
          workDirSettings:
            disabled: true
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
            workDirPath: "/tmp"

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              scope: GLOBAL
              id: "dockerhub-creds"
              username: "${DOCKER_HUB_USER}"
              password: "${DOCKER_HUB_PASS}"
              description: "Docker Hub Login"
          - string:
              scope: GLOBAL
              id: "dockerhub-username"
              secret: "${DOCKER_HUB_USER}"
              description: "Docker Hub Username String"
          - string:
              scope: GLOBAL
              id: "github-webhook-secret"
              secret: "${WEBHOOK_SECRET}"
              description: "GitHub Webhook Shared Secret"

unclassified:
  githubpluginconfig:
    hookSecretConfigs:
      - credentialsId: "github-webhook-secret"

jobs:
  - script: >
      pipelineJob('Domain-Monitoring-CI') {
        // FIX: Ensure listener is active immediately (Use // for Groovy comments)
        triggers {
          githubPush()
        }
        definition {
          cpsScm {
            scm {
              git {
                remote { url('https://github.com/Tomer-ui/domain-monitor-system2.git') }
                branch('main')
              }
            }
            scriptPath('Jenkinsfile')
          }
        }
      }