jenkins:
  systemMessage: "Managed by JCasC and Ansible"
  numExecutors: 0
  mode: EXCLUSIVE
  slaveAgentPort: 50000
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: "admin"
         password: "${JENKINS_ADMIN_PASSWORD}"
  
  # SECURE STRATEGY: 
  # We do NOT allow "Job/Build" to Anonymous globally. 
  # The GitHub Plugin handles the auth via the Secret Token below.
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true
  
  nodes:
  - permanent:
      # Matches 'agent { label 'docker-worker' }' in Jenkinsfile
      labelString: "docker-worker" 
      mode: NORMAL
      name: "jenkins-node-1"
      numExecutors: 2
      remoteFS: "/home/jenkins"
      launcher:
        jnlp:
          workDirSettings:
            disabled: true
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
            workDirPath: "/tmp"

credentials:
  system:
    domainCredentials:
      - credentials:
          # 1. Docker Hub Login (for 'docker login')
          - usernamePassword:
              scope: GLOBAL
              id: "dockerhub-creds"
              username: "${DOCKER_HUB_USER}"
              password: "${DOCKER_HUB_PASS}"
              description: "Docker Hub Login"
          
          # 2. Docker Hub Username (for image tagging)
          - string:
              scope: GLOBAL
              id: "dockerhub-username"
              secret: "${DOCKER_HUB_USER}"
              description: "Docker Hub Username String"
          
          # 3. GitHub Webhook Secret (HMAC Validation)
          - string:
              scope: GLOBAL
              id: "github-webhook-secret"
              secret: "${WEBHOOK_SECRET}"
              description: "GitHub Webhook Shared Secret"

# CONFIGURATION: Tell the GitHub Plugin to verify signatures using our secret
unclassified:
  githubpluginconfig:
    hookSecretConfigs:
      - credentialsId: "github-webhook-secret"

jobs:
  - script: >
      pipelineJob('Domain-Monitoring-CI') {
        definition {
          cpsScm {
            scm {
              git {
                remote { url('https://github.com/Tomer-ui/domain-monitor-system2.git') }
                branch('main')
              }
            }
            scriptPath('Jenkinsfile')
          }
        }
      }